/* bootstrap overrides */
body {
	padding: 0px;
	height: 100%;
}
.container-fluid {
	padding: 0;
	margin: 0;
}
.navbar-inner {
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
.navbar-inner .iteration {
	height:45px;
}

.footer .navbar-inner {
	background-color: whitesmoke;
	background-image: none;
	border: none;
	box-shadow: none;
}

.footer .navbar-inner .nav > li > a {
	color: inherit;
	text-shadow: none;
}

.search-query {
	width: 95px;
	vertical-align: bottom !important;
	margin-right: 5px;
}
.row-fluid [class*="span"] {
	padding-left: 10px;
	padding-right: 10px;
}

/* entity types */
.UserStory, 
.Bug,
.Impediment {
	border-left-style: solid;
	border-left-width: 3px;
	margin: 10px 0;
	padding: 5px;
	background-color: #fafafa;		
	border-radius: 2px;
}
.UserStory {
	border-left-color: #0082e5;
	box-shadow: 0 0 2px 2px rgba(0, 130, 229, 0.1);
}
.Bug {
	border-left-color: #FF1800;
	box-shadow: 0 0 2px 2px rgba(255, 24, 0, 0.1);
}
.UserStory.highlight {
	background-color: rgba(0, 130, 229, 0.1);
}
.Bug.highlight {
	background-color: rgba(255, 24, 0, 0.1);
}
.Impediment {
	border-left-color: #FFA500;
	box-shadow: 0 0 2px 2px rgba(100, 74, 25, 0.1);
}
.Impediment.highlight {
	background-color: rgba(100, 74, 25, 0.1);
}

/* other stuff */
#UserListView {
	padding: 0px;
	margin: 0px;
	margin-top: 4px;
}
#UserListView img{
	border: 1px solid ghostwhite;
}
#UserListView img:hover{
	border: 1px solid #696969;
}
#UserListView li {
	margin: 2px 0;
}
.demonstrated,.notDemonstrable {
	color: #949494;
}
.UserStory.demonstrated {
	border-left-color: rgba(0, 130, 229, 0.6);
}
.Bug.demonstrated {
	border-left-color: rgba(255, 24, 0, 0.4);
}
.Impediment.demonstrated {
	border-left-color: rgba(100, 74, 25, 0.6);
}
.notDemonstrable {
	background-color: #fff;
	box-shadow: 0 0 2px 2px rgba(224, 224, 224, 0.1);	
}
.UserStory.notDemonstrable {
	border-left-color: rgba(0, 130, 229, 0.2);
}
.Bug.notDemonstrable {
	border-left-color: rgba(255, 24, 0, 0.2);
}
.Impediment.notDemonstrable {
	border-left-color: rgba(100, 74, 25, 0.2);
}

.shown,
.noDemo {
	display: inline-block;
}
.shown label,
.noDemo label {
	display: inline;
}
.current.currentDesc {
	/*don't worry about color here, the master branch has removed the TP inline style, so bootstrap body.color should flow on through here... */ 
	padding: 5px;
	background-color: whitesmoke;
	border: 1px solid #696969;
}
ul.tabs li {
	color: #0082E5;
	border: 1px solid #0082E5;
	background-color: whitesmoke;
	text-transform: lowercase;
	/*margin-right: 1px;*/
}
ul.tabs li.selected {
	color: #fff;
	border-color: #0082E5;
	background-color: #0082E5;
}
.currentItemDesc h4 {
	text-transform: lowercase;
}
header { 
	font-weight: bold;
}
.version{
	padding-top: 20px;
}
#email {
	width: 100%;
}
.error {
	color: red;
}
.header-info {
	padding: 5px 5px 0;
	line-height: 20px;
	white-space: nowrap;
	margin-top: 0px;
}
.header-info-org {
	padding-left: 0;	
}
.orgname {
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	padding-left: 0;
	padding-right: 10px;
}
.header-info-counts1 {
	padding-top: 0px;
}
.dateRange {
	font-size: 14px;
	font-weight: normal;
	padding-right: 10px;
}
span.bug, span.userstory, span.impediment {
	margin: 0;
	margin-right: 5px;
	padding: 0 5px;
	line-height: 20px;	
}
.count {
	margin-left: 2px;
}
.navbar { 
	margin-bottom: 0;
}
h3 { 
	margin-top: 10px !important;
	line-height: 20px;
}
.itemsView {
	padding-top: 5px;
	display: inline-block;

}
.menu {
	height: 25px;
	font-size: 15px;
	line-height: 25px;
	min-width: 80px;
	padding: 0;
	margin: auto;
	text-align: center;
}
.itemMaster, .itemDetail {
	width: 55%;
	display: inline-block;
	float: left;
	overflow: scroll;
	height: 100%;
}
.itemMaster {
	width: 40%;
	margin-right: 10px;
}
.footer {
	/*position: absolute;
	bottom: 0;*/
	border-top: 1px solid gainsboro;
}
.itemDetail {
	margin-top: 5px;
	background-color: #fafafa;
	height: auto;
	padding: 10px;
}
.entity:hover {
	box-shadow: 0 0 2px 2px lightgreen;/*rgba(0, 130, 229, 0.1);*/
	/*border-color: lightgreen;*/
}
.userSelected {
	border-color: lightgreen !important;
	box-shadow: 0 0 2px 2px lightgreen;/*rgba(0, 130, 229, 0.1);*/
}
.itemDetail.entity {
	margin-top: 40px;
}
.statusName {
	font-weight: normal;
	font-size: 10px;
	text-transform: uppercase;
	font-family: monospace;
	font-weight: bold;
}
select {
	margin-top: 8px;
	margin-right: 5px;
}
.itemMaster > ul > li, ul.items > li {
	width: 95%;
}
.jira-image {
	display: block;
	margin-bottom: 5px;
}
.priority {
	display: inline;
	float: none;
	font-family: monospace;
	font-size: 10px;
	text-transform: uppercase;
	padding: 1px 2px;
	border: 1px solid;
	font-weight: bold;
}
.blocker, .critical, .major, .minor, .trivial, .average {
	font-size: 12px;
}
.avatar {
	border: 1px solid gainsboro;
	border-radius: 2px;
}
.usersBtn {
	position: absolute;
	color: white;
	top: 50px;
	right: 0px;
	height: 46px;
	width: 20px;
	border-right: 0px;
	border-radius: 4px 0 0 4px;
	z-index: 100;
}
.usersList {
	display: none;
	visibility: hidden;
	position: absolute;
	background: white;
	top: 50px;
	right: -42px;
	width: 42px;
	min-height: 46px;
	border: 1px solid gray;
	border-right: 0px;
	border-radius: 0 0 0 4px;	
}
.usersBtnShow {
	right: 42px;
}
.usersListShow {
	right: 0px;
	display: block;
	visibility: visible;
}
.userListAdd {
	background: green;
}
.userListRemove {
	background: red;
}
.rotate {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	margin-top: 20px;
	font-size: 12px;
}
