/* bootstrap overrides */
.container-fluid {
	padding: 0;
	margin: 0;
}
.navbar-inner {
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
.navbar-inner .iteration {
	height:45px;
}
.search-query {
	width: 95px;
	vertical-align: bottom !important;
	margin-right: 5px;
}
.row-fluid [class*="span"]:first-child {
	padding-left:30px;
}

/* entity types */
.UserStory, 
.Bug {
	border-left-style: solid;
	border-left-width: 3px;
	margin: 2px 0;
	padding: 5px;
	background-color: whitesmoke;
	border-right: 1px solid #696969;
	border-top: 1px solid #696969;
	border-bottom: 1px solid #696969;
}
.UserStory {
	border-left-color: #0082e5;
}
.Bug {
	border-left-color: #FF1800;
}

/* other stuff */
#UserListView img{
	border: 3px solid ghostwhite;
}
#UserListView img:hover{
	border: 3px solid #696969;
}
#DemoListView {
	
}

.shown,
.noDemo {
	display: inline-block;
}
.current.currentDesc {
	/*don't worry about color here, the master branch has removed the TP inline style, so bootstrap body.color should flow on through here... */ 
	padding: 5px;
	background-color: whitesmoke;
	border: 1px solid #696969;
}
ul.tabs li {
	color: #0082E5;
	border: 1px solid #0082E5;
	background-color: whitesmoke;
	text-transform: lowercase;
	/*margin-right: 1px;*/
}
ul.tabs li.selected {
	color: #fff;
	border-color: #0082E5;
	background-color: #0082E5;
}
.currentItemDesc h4 {
	text-transform: lowercase;
}
