html
  head
    block head
      script(type='text/javascript')
        var _address = '#{address}';
        var _port = '#{port}';
      - each script in scripts
        script(src=script, type='text/javascript')
      - each style in styles
        link(href=style, rel='stylesheet', type='text/css')
  body    
    .container-fluid
      .navbar
        .navbar-inner
          a.brand(href='#') you-R-here
          block header
      .row-fluid
        .span10
          block items
          block emailRequired
            div.hidden#emailRequired
              h3 login required
              p
                | Whoa! You're not logged in. Click the fancy button to join the party!
                form
                  input#loginAgain.btn.btn-primary(type='submit', value='login')
        .span2
          section#users
            h3 users
            a.right-text(href='https://en.gravatar.com/') add your pic
      .navbar.footer
        .navbar-inner
          div.pull-left
            p.version 
              =version
          div.pull-right
            a(href='http://nodejs.org', target='_blank')
              img(src='/images/nodejs-dark.png', alt='node.js')
            a(href='https://trello.com/board/friday-project-ideas/4f446503f7aabce3045086a4', target='_blank')
              img(src='/images/CTLabsLogo_64x64.png', alt='Critical Labs')
  div.hidden
    div#login
      label(for='email')
      input#email(type='text')
      label.hidden.error#emailMsg
        | Whoops! That email address is already in use.
