extends layout
append head
  script(src='client_script/organizer.js', type='text/javascript')
block header
  h1 you-&#1103;-here - Organizer
block items
  section#items
    input#datepicker(type='text')
    h3.left Items
    div.clear
    ul.items