extends layout
append head
  script(src='client_script/organizer.js', type='text/javascript')
block header
  .iteration.text-right
      input#datepicker.search-query(type='text')
      input#refresh.btn.btn-mini(type='button', value='refresh')
block items 
  section#items
    h3.left items
    div.clear
    div#itemsView