extends layout
append head
  script(src='client_script/presenter.js', type='text/javascript')
block header
  h1 you-&#1103;-here - Presenter
block items
    section#itemSection
      div#tabs
        ul
          li.menu.first.selected.currentItem Current Item
          li.menu.last.myItems My Items
          li.menu.last.allItems All Items