extends layout
append head
  script(src='client_script/presenter.js', type='text/javascript')
block header
  h1 you-&#1103;-here - Presenter
block items
    section#itemSection
      div#tabs
        ul
          li.menu.first.selected.currentItem Current Item
          li.menu.last.myItems My Items
          li.menu.last.allItems All Items
        div#currentTab.ctTab
          h3 Now Showing
          div#current.current.highlight Item currently being shown will be displayed here...
          h4 Description
          div#currentDesc.current.currentDesc.highlight Item description will be shown here...
        div#myItemsTab.ctTab.hide
          h3 My Items
          div.clear
          div#myItems.items
            ul
        div#allItemsTab.ctTab.hide
          h3 All Items
          div.clear
          div#items.items
            ul